html,
body {
  height: 100%;
}

.wrap {
  min-height: 100%;
}

.main {
  overflow: auto;
  /* this needs to be bigger than footer height*/
  padding-bottom: 150px;
}

.footer {
  position: relative;
  /* negative value of footer height */
  margin-top: -150px;
  height: 150px;
  clear: both;
  padding-top: 20px;
  border-top: #f0f0f0 1px solid;
}